<!-- <script src="{{ "/js/math-code.js" | relURL }}"></script> -->
{{ $script := resources.Get "latex-fix.js" | resources.Minify }}
{{ with $script.Content }}
  <script>{{ . | safeJS }}</script>
{{ end }}

{{ $katex := printf "%s/katex@%s" (site.Params.KaTeXCDN | default "https://cdn.jsdelivr.net/npm") (site.Params.KaTeXVersion | default "0.16.22") }}
<link rel="stylesheet" href="{{ $katex }}/dist/katex.min.css" crossorigin="anonymous">
<script defer src="{{ $katex }}/dist/katex.min.js" crossorigin="anonymous"></script>
<script defer src="{{ $katex }}/dist/contrib/auto-render.min.js" crossorigin="anonymous"></script>
<!-- do not add onload attributes, breaks settings below -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            // delimiters: [
            //     {left: "$$\n", right: "\n$$", display: true},
            //     {left: "$$", right: "$$", display: false},
            //     {left: "\\[", right: "\\]", display: true},
            //     {left: "\\(", right: "\\)", display: false}
            // ],
            trust: (context) => ['\\htmlId', '\\href'].includes(context.command),
            macros: {
              "\\eqref": "\\href{###1}{(\\text{#1})}",
              "\\ref": "\\href{###1}{\\text{#1}}",
              "\\label": "\\htmlId{#1}{}"
            }
        });
    });
</script>
